body {
  font-family: 'Gotham Pro Regular', sans-serif; 
}

/* SPRITES !! */

/* .bg-search {
    width: 14px; height: 14px;
    background: url('css_sprites.png') -90px -10px;
}

.bg-fb {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -10px -10px;
}

.bg-Inst {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -50px -10px;
}

.bg-pinterest {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -10px -50px;
}

.bg-twitter {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -50px -50px;
}

*/
